:root{
    --bcg-color:#001122;
    --primary-color:#155e75;
    --border-radius:8px;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    width: 100%;
    background-color: var(--bcg-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: var(--primary-color);
    padding: 30px;
    border-radius: var(--border-radius);
    width: 600px;


}
.qr-header h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 24px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700px;
}

.qr-header input{
    width: 100%;
  margin-block: 12px;
    

}
.qr-header ::placeholder{
    font-size: 23px;
}
.qr-header input, select{
   
    padding: 20px;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
  font-size: 24px;

}
.qr-header label{
font-size: 30px;
color: #ffffff;

}

.qr-header div{
    display: flex;
    justify-content: space-between;
}

.qr-footer {
   
    margin-top: 40px;
    display: flex;
    justify-content: center;

}
.qr-footer a{
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    padding: 14px 35px;
    margin-inline: 2px;
    text-align: center;
    font-weight: 700;
    border-radius: 8px;
   

}
@media screen  and (max-width:520px){
    .box{
        width: 80%;
    }
    .qr-footer a{
        padding: 12px;
        font-size: 15px;
    }
}
@media screen  and (max-width:540px){
    .box{
        width: 80%;
    }
    .qr-footer a{
        padding: 12px;
        font-size: 15px;
    }
}
.qr-body{
    display: grid;
    place-items: center;
    padding: 20px;
    border: 0.5px solid red;

}
.qr-body img{
    width: 100%;
    height: 100%;
    margin-block: 10px;
    padding: 20px;
    border: 0.5px solid var(--primary-color);
    border-radius: 20px;
}
